/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(white, #9198e5);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}