<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="./tips">Tips</a>
        <a class="nav-item nav-link" href="./schedule">Schedule</a>
        <a class="nav-item nav-link" href="./register" id = "log">Register</a>
      </div>
    </div>
  </nav>

<div class="jumbotron jumbotron-fluid" id = "heading">
    <div class="container" id = "heading-text">
      <h1 class="display-4">Tips to Help Study</h1>
    </div>
  </div>

  <div class ="container-fluid" id = "practice">
    <h2 class = "titles">#1: Practice!</h2>
    <p>It is impossible to study maths properly by just reading and listening. To study maths you have to roll up your sleeves and actually solve some problems. 
       The more you practice answering math problems, the better. 
       Each problem has its own characteristics and it’s important to have solved
        it in numerous ways before tackling the exam. </p>
  </div>
  <div class ="container-fluid" id = "review">
    <h2 class = "titles">#2: Review Errors</h2>
    <p>When you’re practising with these problems, it’s important to work 
      through the process for each solution. If you have made any mistakes,
       you should review them and understand where your problem-solving skills let you down.
        Understanding how you approached the problem and where you went wrong is a great way of
         becoming stronger and avoiding the same mistakes in the future.</p>
  </div>
  <div class ="container-fluid" id = "master">
    <h2 class = "titles">#3: Master Key Concepts</h2>
    <p>Do not try to memorise the processes. This is counter-productive. It is much better and rewarding in the long-run to focus on understanding the process and logic that is involved.
       This will help you understand how you should approach such problems in the future.</p>
  </div>
  <div class ="container-fluid" id = "doubts">
    <h2 class = "titles">#4: Understand your Doubts</h2>
    <p>Sometimes you can get stuck trying to solve part of a maths problem and find
       it difficult to move on to the next stage.  It’s common for many students to skip this question and continue on to the next. You should avoid doing this and instead spend time trying to understand 
      the process of solving the problem. Once you have grasped an understanding of  
      the initial problem, you can use this as a stepping stone to progress to the remainder of the question.
    </p>
  </div>
  <div class ="container-fluid" id = "distractions">
    <h2 class = "titles">#5: Get Rid of Distractions</h2>
    <p>Mathematics is a subject that requires more concentration than any other. A proper study environment
       and a distraction free area could be the determining factor when solving complex equations or problem</p>
       <br>
      <p> You could also do things such as listening to music to get your brain stimulated!</p>
  </div>
  
</body>
